h1{
    text-align: center;
    color:purple;
}

p.name{
    
    font-size: 10px;
    color:blue;
}

p.country{
    font-style: italic;
}

img{
    position: center;
}

body{background-color: chartreuse;}